.top-bar {
    background-color: $color-primary;
    display: flex;
    justify-content: right;
    padding: 10px 40px;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    .content {
        .language-select {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            padding-bottom: 0;
            .current-language {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 10px;
                cursor: pointer;
                .language {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    span {
                        @extend .LANGUAGE-FONT;
                        color: $color-white;
                    }
                    .flag {
                        img {
                            height: 10px;
                        }
                    }
                }
            }
        }
    }
    .language-list {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: $color-background-secondary;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px 30px;
        transition: all 0.3s ease;
        visibility: hidden;
        opacity: 0;
        z-index: 100;
        list-style: none;
        margin-top: 0;
    
        li {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: right;
            gap: 10px;
            cursor: pointer;
        }
        &.active {
            visibility: visible;
            opacity: 1;
        }
    }
}